:root {
    --text-primary: #e0e0e0; 
    --text-secondary: #aaa;
    --text-emphasis: #ffffff;
    --text-on-primary: #ffffff;

    --background-color: #121212;
    --background-alt: #2c2c2c;
    --background-surface: #1e1e1e;

    --border-color: #282828;
    --border-color-light: #585858;

    --primary-color: #3e87db;
    --primary-color-dark: #2d5e96;

    --border-radius: 8px;
    --border-radius-large: 16px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-primary);
    padding: 20px;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

h1, h2, h3 {
    text-align: center;
    background: linear-gradient(138deg, var(--primary-color), var(--primary-color-dark));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.8em;
    font-weight: 700;
    text-shadow: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}